body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    color: #333;
}

.common-text {
    line-height: 1.5;
}

.hero-special-text {
    color: #1b1be7d0;
}

.d-flex {
    display: flex;
}

.btn {
    text-decoration: none;
    background-image: linear-gradient(to left, #1010e6, rgb(162, 47, 255));
    display: inline-block;
    color: #fff;
    padding: 20px 40px;
    border-radius: 50px;
}

.hero {
    padding: 40px 0 0;
}

.hero-area {
    padding: 0 5%;
}

.hero-content {
    width: 50%;
    margin-top: 100px;
}

.hero-image {
    width: 50%;
}

.image {
    width: 100%;
}

.hero-title {
    font-size: 50px;
}

.common-text {
    font-size: 20px;
}

.about {
    background-image: url('../images/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px 0;
}

.about-area {
    padding: 0 5%;
}

.about-image {
    width: 50%;
    padding-top: 5%;
}

.about-image-box {
    width: 50%;
    margin-left: 100px;
}

.about-content {
    width: 50%;
}

.about-content h2 {
    font-size: 30px;
}

.about-content {
    margin-top: 100px;
}


.main-footer {
    text-align: center;
    background-image: linear-gradient(to right, #1010e6, rgb(243, 95, 9) 70%);
    color: #fff;
    padding: 10px 0;
}