body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    color: #333;
}

.common-text {
    line-height: 1.5;
}

.hero-special-text {
    color: #1b1be7d0;
}

.bg-color {
    background-image: linear-gradient(to left, #1010e6, rgb(162, 47, 255));
    color: #fff;
    padding: 3px;
}

.d-flex {
    display: flex;
}

.btn {
    text-decoration: none;
    background-image: linear-gradient(to left, #1010e6, rgb(162, 47, 255));
    display: inline-block;
    color: #fff;
    padding: 20px 40px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .8);
}

.btn-buy {
    background-image: linear-gradient(to left, #1010e6, rgb(162, 47, 255));
    display: inline-block;
    padding: 10px 25px;
    border: none;
    color: #fff;
    transition: all .4s;
    font-weight: 700;
}

.menu-single-item:hover .btn-buy {
    background-image: linear-gradient(to left, rgb(162, 47, 255), #1010e6);
}

.main-nav {
    background-image: linear-gradient(to left, #1010e6, rgb(84, 185, 152));
    padding: 10px 20px;
}

.main-nav-item {
    list-style: none;
    text-align: right;
}

.main-nav-items {
    display: inline-block;
    margin-right: 40px;
}

.items-link {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    font-size: 20px;
}

.main-nav-items:hover .items-link {
    color: #c100f1;
}

.hero {
    padding: 40px 0 0;
}

.hero-area {
    padding: 0 5%;
}

.hero-content {
    width: 50%;
    margin-top: 100px;
}

.hero-image {
    width: 50%;
}

.image {
    width: 100%;
}

.hero-title {
    font-size: 50px;
}

.common-text {
    font-size: 20px;
}

.about {
    background-image: url('../images/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px 0;
}

.about-area {
    padding: 0 5%;
}

.about-image {
    width: 50%;
    padding-top: 5%;
}

.about-image-box {
    width: 50%;
    margin-left: 100px;
}

.about-content {
    width: 50%;
}

.common-title {
    font-size: 30px;
}

.about-content {
    margin-top: 200px;
}

.counter {
    margin-bottom: 60px;
}

.counter-area {
    padding: 20px;
    margin: 0 8%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.219);

}

.social-content .box {
    width: 100%;
    text-align: center;
}

.social-count {
    font-size: 35px;
}

.recipies {
    margin: 80px 40px;
}

.recipies-conetnt {
    width: 40%;
    text-align: center;
    margin-bottom: 60px;
    margin-left: 30%;
}

.recipies-blogs {
    padding: 0 50px;
}

.blog {
    width: 30%;
    margin: 0 40px;
    box-shadow: 8px 8px 15px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
}

.blog h2 {
    font-size: 20px;
}

.blog-img img {
    width: 100%;
    border-radius: 20px;
}

.menu {
    margin: 60px 0;
}

.menu-items {
    padding: 0 5%;
}

.menu-single-item {
    width: 100%;
    box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, .8);
    margin: 10px 10px;
    padding: 15px;
    text-align: center;

}

.menu-single-item p {
    font-size: 18px;
    font-weight: 700;
}

.foodItem {
    width: 100%;
    transition: transform .4s;
}

.menu-single-item:hover .foodItem {
    transform: scale(1.1);
}

.main-footer {
    text-align: center;
    background-image: linear-gradient(to right, #1010e6, rgb(84, 185, 152) 70%);
    color: #fff;
    padding: 10px 0;
}